@{

}

<div>
    <canvas id="myCanvas" width="300" height="300"></canvas>
</div>

<button id="clearBtn" type="button" class="btn-danger" > Clear </button>
<button id="submitBtn" type="button" class="btn-primary"> Submit </button>

